.container-wrapper {
    display: flex;
    height: 90vh;
    margin-bottom: -20px;
    margin-top: 10px;
}
  
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    height: 100%;
    width: 80%;
    border-radius: 15px;
    border: 1px solid rgba(187, 187, 187, 0.384);
    margin-left: 10px; margin-right: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgba(187, 187, 187, 0.384);
    margin-right: 10px;
}

.info-bar {
    color: var(--main-color);
    height: 45px;
    width: 100%;
    text-align: center;
    padding-top: 7px;
    font-weight: 500;
    font-size: 15pt;
    border-radius: 13px 13px 0px 0px;
}
  
.form {
    position: relative;
    height: 80px;
    border-radius: 0px 0px 13px 13px;
}
  
.input {
    border: none;
    width: calc(100% - 90px); height: 100%;
    padding-left: 30px;
    border-radius: 0px 0px 0px 13px;
    overflow: auto;
    resize: none;
}

.send-button {
    position: absolute;
    top: 5px; right: 6px;
    color: #fff;
    background: var(--main-color);
    border: none;
    width: 80px; height: 45px;
    border-radius: 10px;
}
  
.send-button:hover, .send-button:active {
    background: var(--hover-color);
}
  
.book-inform {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 300px;
}
  
.active-container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}
  
.active-item {
    display: flex;
    margin-bottom: 5px;
}
  
.chat-inform {
    font-size: 0.9rem;
    color: black;
}
  
.chat-book-img { 
    display: block;
    margin: 0px auto;
    width: 100%;
    margin-bottom: 15px;
}
  
hr {
    border-top: 0.1px solid rgba(187, 187, 187, 0.884);
    width: 80%;
    margin: 0 auto;
}

@media (width <= 1000px) {
    .chat-container {
        width: 98%;
    }
    .text-container {
        display: none;
    }
}

