.count-down {
    font-weight: 400;
    font-size: 18px;
}

.custom-dialog {
    top: 30%;
}

.modal-text {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

div.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

div.right {
    width: 50%;
    float: right;
    box-sizing: border-box;
}

.delete-custom {
    background: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
