.auth {
    width: 100%;
    padding-top: 30px;
    margin: 0 auto;
}

.auth-form {
    max-width: 500px;
    margin: 0 auto;
}

.titleh3 {
    font-weight: 700;
    text-align: center;
}

a {
    color: pink;
}

.a-box {
    position: relative;
    top: 20px;
    text-align: right;
}