.club-list {
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 100px;
}

.club-grid {
    margin-top: 20px;
}

.club-box {
    padding-bottom: 20px;
}

.card-box {
    margin: 0 auto;
    width: 15rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.card-box:hover, .card-box:focus, .card-box:active {
    box-shadow: 0 0 10px rgba(33, 33, 33, .1);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.book-image {
    height: 180px;
    object-fit: cover;
}

.club-title {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

.club-description {
    font-weight: 400;
    font-size: 14px;
    height: 65px;
}

.book-title {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 5px;
    overflow: hidden;
    height: 17px;
}

.club-time {
    font-weight: 400;
    font-size: 13px;
}

@media (width <= 1000px) {
    .card-box { width: 13rem; }
    .book-image { height: 150px; }
    .club-description {
        overflow: hidden;
    }
}
