.club-form {
    max-width: 1200px;
    padding: 20px 45px 30px 45px;
    font-weight: 400;
    margin: 0 auto;
}

.club-post {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1;
}

.popup-button {
    background: var(--main-color);
    border-color: var(--main-color);
    border-radius: 30px;
}

.popup-button:hover, .popup-button:focus, .popup-button:active {
    background: var(--hover-color);
    border-color: var(--hover-color);
    box-shadow: var(--shadow-color) !important;
}
