:root { 
  --main-color: #E94883;
  --hover-color: #B6164F;
  --shadow-color: 0 0 0 0.25rem rgba(240, 125, 196, 0.25);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.main-wrapper {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}

.system-font {
  font-family : 'AppleSDGothicNeo-Regular','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
  color: #575756;
}

::-webkit-scrollbar { 
  width: 7px; 
}
::-webkit-scrollbar-thumb { 
  height: 7%; background-color: rgb(212, 211, 211); border-radius: 15px; 
}
::-webkit-scrollbar-track { 
  background-color: transparent;
}

.basic-button {
  background: var(--main-color) !important;
  border-color: var(--main-color) !important;
  color: white !important;
}

.basic-button:hover, .basic-button:focus, .basic-button:active {
  background: var(--hover-color) !important;
  border-color: var(--hover-color) !important;
  box-shadow: var(--shadow-color) !important;
}
